
body{
    background-color: silver
}
div.head{
    background-color: purple;
    min-width: 90%;
    max-height: 10%;
}
.cartlogo{
    align-content: flex-end;
    margin-left: 95%
}
#logoo{
height: 150px;
width: 400px;
margin-left: 30%;
margin-right: 40%;
margin-top: 15px;}

div.button{
    border-top:solid px;
    border-bottom: solid 1px;
    text-align: center;
    background-color: purple;
    display: flex;
    }

    
    a:link {
        color: white;
        width: 1%;
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        margin-left: 12%;
    }

    #cartvalue{
        font-size: 14pt;
        color: white  
    }

    div.foot{
        background-color: purple;
        min-width: 10%;
        max-width: 100%;
        min-height: 10%;
        max-height: 60%;
        text-align: center;
        color: white;
        text-decoration-style: double;
        font-family: 'Times New Roman', Times, serif;
        text-size-adjust: 20px}

        #samsungmobile{
            /* margin-left: 20%;
            margin-right: 20%; */
            display: flex-end;  
            min-width: 60%;
            max-width: 100%;
            min-height: 60%;
            max-height: 100% ;
            align: center
                }